<div>
  <div class="row">
    <img src="assets/hamburgerIcon.png" alt="Zero" class="hamburger"/>
    <img src="assets/Logo_ZeroWaste.png" alt="Zero" width="140" height="50"/>
  </div>
  <router-outlet></router-outlet>
</div>