<div class="instructions">Scan the barcode on the truck</div>
<div>    
    <div *ngIf="availableDevices">
        <select (change)="onDeviceSelectChange($event.target.value)">
          <option value="" [selected]="!selectedDevice">No Device</option>
          <option *ngFor="let device of availableDevices" [value]="device.deviceId" 
          [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
        </select>
      </div>
    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" 
    (scanSuccess)="handleQrCodeResult($event)" height="500px" width="500px"></zxing-scanner>
    <div *ngIf="hasPermission === false">

        <h1>You denied the camera permissions, we can't scan anything without it. 😪</h1>
      
      </div>
</div>
<div *ngIf="codeScanned">
  <img src="assets/Icon_ThumbUp.png" alt="Icon_ThumbUp" height="36" width="36"/>
  <div>Code scanned : {{qrResultString}}</div>
  <a [routerLink]="['containerdetail',qrResultString]">Container history</a>
</div>