<div><h1>Container status</h1></div>
<div class="status">{{statusService.status}}</div>
<div class="instructions"><h1>Container history (secured by blockchain)</h1></div>
<div>
  <div *ngFor="let detail of history; index as i; ">
    <div class="historydetail">
      <div>Id: {{detail.id}}</div>
      <div>Type: {{detail.type}}</div>
      <div>Owner: {{detail.owner}}</div>
      <div>Status: {{detail.status}}</div>
      <div>Manufacterer: {{detail.manufacturer}}</div>
      <div>Date of manufacturing: {{detail.dateOfManufacturing}}</div>
    </div>
    <img *ngIf="i !== history.length-1" src="assets/chain.png" alt="|" height="20px" width="20px"/>
  </div>
</div>
