.historydetail{
    border: 2px;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
}
.status{
    border: 2px;
    border-radius: 10px;
    background-color: rgb(211, 57, 57);
    color: white;
}